<!DOCTYPE html>


<br /><br />


<h1>{{main_title}}</h1>
<h3>{{main_subtitle}}</h3>



    <label for="start_date">&nbsp;&nbsp;Start date:</label>
    <input id="start_date" type="text" required/>
     <label for="start_date">&nbsp;&nbsp;End date:</label>
    <input id="end_date" type="text" required/>
<button ng-click="submit()">Submit</button>

<!-- <form novalidate>
    <label for="start_date">&nbsp;&nbsp;Start date: </label><input type="text" ng-model="start_date">
    <label for="end_date">&nbsp;&nbsp;End date: </label><input type="text" ng-model="end_date">
    <button ng-click="submit()">Submit</button>
</form> -->

<br /><br />
<hc-pie-chart title="Days in field" data="pieData">Days in field</hc-pie-chart>

<div ng-repeat="x in config.component">

  <div ng-repeat="y in x.visuals">

   <div ng-if="y.presentation==='piechart'">
        <hc-pie-chart title={{y.title}} subtitle={{y.subtitle}} data="piechart[$parent.$parent.$index][$index]">Days in field - pie chart</hc-pie-chart>
   </div>
   <div ng-if="y.presentation==='barchart'">
       <hc-bar-chart data="barchart[$parent.$parent.$index][$index]" title={{y.title}} subtitle={{y.subtitle}} yaxis={{y.yaxis}}  xaxis={{y.xaxis}}>Days in field - bar data</hc-bar-chart>
   </div>
   <div ng-if="y.presentation==='graph'">
     <hc-chart options="chartOptions">Placeholder for generic chart</hc-chart>
   </div>
</div>
</div>






